/* ------------------NAVBAR STYLING--------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 6px #3f49c026;
  padding: 0 1%;
  background: #fff;
  z-index: 10;
}

.navbar-wrapper > div:first-child img {
  width: 235px;
  height: 63px;
}

.navbar-wrapper > div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar-wrapper > div:nth-child(2) a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #4a4a4a;
}

.navbar-wrapper > div:nth-child(2) a:hover {
  text-decoration: none;
  color: #5e57e2;
  cursor: pointer;
}

.navbar-wrapper > div:nth-child(3) button {
  background: #0537ac 0% 0% no-repeat padding-box;
  margin-right: 24px;
  border: none;
  color: white;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 36px;
  cursor: pointer;
  border-radius: 9px;
  box-shadow: 0px 0px 3px #00000029;
  font: normal normal 600 14px/19px Segoe UI;
}

.navbar-wrapper > div:nth-child(4) {
  display: none;
}

.navbar-wrapper > div:nth-child(4) div {
  width: 24px;
  height: 3px;
  background-color: #0537ac;
  margin: 5px 16px;
}

/* ****************MEDIA QUERIES****************** */

/* -------------------NAVBAR---------------------- */
@media all and (max-width: 768px) {
  .navbar-wrapper > div:nth-child(2) {
    display: none;
  }

  .navbar-wrapper > div:nth-child(3) {
    display: none;
  }

  .navbar-wrapper > div:nth-child(4) {
    display: block;
  }
}
